<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Style to my table -->
    <style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }
  </style>

    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <title>Lista de Usuarios</title>
  </head>
  <body>
    <div class="container">
      <h2>Información de los Usuarios -1er Cuatrimestre</h2>
        <table border="1">
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Segundo Nombre</th>
              <th>Segundo Apellido</th>
              <th>UID</th>
              <th>Email del Usuario</th>
              <th>ACTIVO</th>
              <th>Creado en</th>
            </tr>
            <tr>
              <td>{{ nombre }}</td>
              <td>{{ apellido }}</td>
              <td>{{ segundo_nombre }}</td>
              <td>{{ segundo_apellido }}</td>
              <td>{{ uid }}</td>
              <td>{{ email }}</td>
              <td>{{ active }}</td>
              <td>{{ created_at }}</td>
            </tr>
            <tr>
          </table>
    </div>
  </body>
</html>
